// Specific CSS for your home-page


body {
    margin: 5px;
    font-family: "Work Sans", "Helvetica", "sans-serif";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0E0000;
    text-align: center;
    background-color: #FFFFFF;
}

img#logo {
    width: 600px;
}
