<%= render 'shared/navbar' %>

<main class="d-flex justify-content-center align-items-center">
  <section>
    <h1> COURTS </h1>

    <ul class="p-0 my-5">
    <% @courts.each do |court| %>
      <li>
      <%= cl_image_tag court.photo.key, height: 300, width: 400 %>
      <%= link_to court.name, court_path(court) %>
      </li>
    <% end %>
    </ul>

    <% if policy(Court).new? %>
    <%= link_to "Add a court!", new_court_path, class: "btn-primary p-3" %>
    <% end %>
  </section>
</main>
