<main class="container d-flex justify-content-center align-items-center vh-100">
  <section>
    <div>
     <%= image_tag "https://res.cloudinary.com/db7q8jblt/image/upload/v1637864527/development/logo_vsn5eu.jpg", id: "logo" %>
    </div>

    <div class="btn btn-success my-5">
      <% if user_signed_in? %>
      <%= link_to "Enter!", user_path(current_user), class: "text-light" %>
      <% else %>
      <%= link_to "Login!", new_user_session_path, class: "text-light" %>
      <% end %>
    </div>
  </section>
</main>
